[submodule "godot-cpp"]
	path = godot-cpp
	url = https://github.com/godotengine/godot-cpp.git
[submodule "vendor/FastNoise"]
	path = vendor/FastNoise
	url = https://github.com/Auburn/FastNoise.git
[submodule "vendor/FastNoise2"]
	path = vendor/FastNoise2
	url = https://github.com/Auburn/FastNoise2.git
